[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DistributionTest"]
	path = DistributionTest
	url = https://github.com/cran/DistributionTest
	shallow = true
	registered = true
